/* Write your CSS here */
.history-item {
  display: flex;
  justify-content: space-between;
  border: #7e858e solid 1px;
  border-radius: 2px;
  padding: 0px 20px;
}
.margin-item {
  width: 140px;
}
.button {
  background-color: #ffffff;
  padding: 0px;
  border: solid 0px #ffffff;
}
.image {
  width: 20px;
  height: 20px;
}
